:root {
    --main: #00365C;
}

* { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
} 

body {
    min-width: 300px;
    height: 100vh;
    overflow-y: scroll;
}

h2 {
    color: var(--main);
}

.buttons {
    margin: 20px 0;
}

.buttons a{
    padding: 8px 16px;
    text-decoration: none;
    outline: none;
    background: var(--main);
    color: #fff;
}

.main-block {
    font-size: 20px;
    font-weight: 500;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    -ms-box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    -o-box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    box-shadow: 0px 0px 10px rgba(0,0,0,.4);
}

.accordion-button {
    font-weight: 500;
}

.accordion-button:not(.collapsed) {
    background-color: var(--main);
    color: #fff;
}

.accordion-button:not(.collapsed)::after {
    filter:brightness(0%) invert(100%);
}

.accordion-button:focus {
    box-shadow: inherit;
}

.map {
    height: 410px;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    -ms-box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    -o-box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    box-shadow: 0px 0px 10px rgba(0,0,0,.4);
}

