:root {
    --main: #00365C;
}

* { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
} 

body {
    min-width: 300px;
    height: 100vh;
    overflow-y: scroll;
}

.carousel-inner {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-weight: 500;
    color: #fff;
}

.main-text {
    max-width: 1000px;
    font-size: 20px;
    color: var(--main);
    font-weight: 500;
}

.pluses-block {
    background-color: #E1E1E1;
}

.h2 {
    color: var(--main);
}

.check {
    width: 30px;
    fill: #00FF00;
    stroke: #000;
    stroke-width: 0.2px;
}

.list-group {
    font-size: 20px;
    font-weight: 500;
}

.answers {
    max-width: 1000px;
    background-color: var(--main);
}

.answer-btn {
    text-decoration: none;
    background: #fff;
    color: var(--main);
    font-weight: 500;
}

.answer-btn:hover {
    background: #fff;
    color: var(--main);
    font-weight: 500;
}

.block {
    font-weight: 600;
}

.block p {
    font-size: 20px;
}

.block img {
    width: 90px;
}

@media (max-width: 540px) {
    .centered{font-size: 18px;}
    .block p {font-size: 16px;}
    .block img {
        width: 60px;
    }
}

@media (max-width: 400px) {
    .centered{font-size: 14px;}
}