
/*================ кнопка, группа и её название ================*/

.about__group {
    display: flex;
    margin: 32px 0;
}

.back {
    padding: 10px 19px 12.5px 16px;

    width: 51px;
    height: 51px;

    border: 2px solid var(--c_main);
    border-radius: 6px;
    background: #fff;
    color: var(--c_main);

    transition: .1s;
}

.back:hover {
    background: var(--c_main);
    color: #fff;
}

.left-arrow {
    width: 15px;
    height: 25.5px;
    fill: var(--c_main);

    transition: .1s;
}

.back:hover > .left-arrow {
    fill: #fff;
}

.number__group {
    padding: 7px 21px;
    margin: 0 23px;

    font-size: 30px;
    font-weight: 700;

    background: var(--c_main);
    border-radius: 6px;
    color: #fff;
}

.group__name {
    max-width: 600px;
    font-size: 20px;
    font-weight: 600;
}

/*================ Списки ================*/

.spiski {
    display: flex;
    margin-bottom: 15px;

    position: relative;
}

.select-box {
    display: flex;
    flex-direction: column;
    width: 160px;

    font-size: 16px;
    font-weight: 600;

    position: absolute;
    right: 170px;
    z-index: 1;
}

.select-box .options-container {
    background: #fff;
    color: var(--c_main);
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all .4s;
    border-radius: 0 0 16.5px 16.5px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    overflow: hidden;

    order: 1;
}

.selected {
    position: relative;

    background: #fff;
    color: var(--c_main);
    border-radius: 16.5px;
    border: 2px solid var(--c_main);

    order: 0;
}

.selected:hover {
    border-radius: 16.5px 16.5px 0 0;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
}

.selected::after {
    content: "";
    background-image: url(../../img/arrow_down.svg);
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 10px;
    width: 16px;
    top: 11px;
    right: 20px;
    transition: all .4s;
}

.select-box .options-container.active {
    max-height: 195px;
    opacity: 1;
}

.select-box .options-container.active + .selected::after{
    transform: rotateX(180deg);
}

.select-box .option, .selected {
    padding: 5px 1px 5px 24px;
    cursor: pointer;
}

.select-box .option:hover {
    background: var(--c_main);
    color: #fff;
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}



/*================ popup группы ================*/


.popup__button {
    margin: 0 29px 0 15px;
    padding: 5px 29px;

    border: 2px solid var(--c_main);
    border-radius: 16.5px;

    background-color: #fff;

    font-weight: 600;
    font-size: 16px;
    color: var(--c_main);

    transition: .1s;
}

.popup__button:hover {
    color: #fff;
    background-color: var(--c_main);
}

.popup__button:focus {
    color: #fff;
    background-color: var(--c_main);
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .5);

    animation-name: animationOpen;
    animation-duration: 0.5s;
}

@keyframes animationOpen {
    from {
      opacity: 0
    }
    to {
      opacity: 1
    }
}


.popup__content {
      padding: 15px;
      padding-left: 40px;

      position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

      width: 486px;
      height: 370px;
      background-color: #fff;
      box-shadow: 0 0 12px rgba(0, 0, 0, .15);
      border-radius: 10px;
}

.popup__header {
      display: flex;
}

.popup__title {
      margin: 10px auto 0 auto;
      padding-left: 19px;

      text-transform: uppercase;
      font-size: 22px;
      color: #000;
      font-weight: 700;
}

.popup__close {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 30px;
      height: 30px;
      color: rgba(0, 0, 0, 0.4);
      text-decoration: none;
      border-radius: 4px;

      transition: .1s;
}

.popup__close:hover {
      color: #000;
      background: #eee;
}

.popup__text p {
    margin-top: 10px;
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 500;
      color: #000;
}


.popup__text a {
      padding: 5px 13px;

      font-size: 20px;
      font-weight: 700;
      background: #fff;
      color: var(--c_main);
}

.popup__text a:hover {
      background: var(--c_main);
      color: #fff;
}

/*================ Таблица ================*/

.table-box {
    height: 500px;
    background: #fff;
    font-size: 18px;

    padding-right: 20px;
    overflow-y: scroll;
}

table {
    width: 100%;
    margin: auto;
}

table, th, td {
    border: var(--table_border);
    border-collapse: collapse;
    text-align: left;
}

th {
    position: sticky;
    top: -2px;
    background: #EDEDED;
    font-weight: 700;
}

tr th:nth-child(1), tr th:nth-child(2){
    width: 83px;
    text-align: center;
}

tr {
    transition: .1s;
}

tbody tr:hover {
    background: rgba(32, 98, 226, 0.1);
    color: var(--c_main);
}

tbody tr:hover > td textarea {
    color: var(--c_main);
}

.table__body td:nth-child(1), td:nth-child(2) {
    text-align: center;
}

.table__body td:nth-child(2){
    font-weight: 700;
}

.table__body th:nth-child(3){
    width: 562px;
}

.table__body th:nth-child(4) {
    width: 458px;
}

.table__body td textarea{
    border: none;
    background: none;
    outline: none;
    resize: none;

    width: 100%;
    height: 100%;

    font-size: 18px;
    font-weight: 500;
}

tr th, td{
    padding: 5px 15px;
    overflow-y: hidden;
}

/*================ Скроллбар ================*/

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-track-piece {
    background-color: #EDEDED;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7);
}







